@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

@mixin three_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@mixin two_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}