// All custom styles for the dashboard.

#comics_image {

    .inside {

        img {
            max-width: 100%;
        }
    }
}

#characters_image {

    .inside {

        img {
            max-width: 100%;
        }
    }
}

img.character_img {
    max-width: 100%;
}
