.container {
    margin-left: 10px;
    margin-right: 10px;

    @media(min-width: $large) {
        max-width: $large;
        width: $large;
        margin: auto;
    }

    section {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
