.characters {
    @include center;
    ul {
        list-style: none;
        display: block;
        max-width: 100%;
        
        li {
            height:300px;
            width: 100%;
            margin-bottom: 20px;
            border: $border-bottom;

            img {
                height: 300px;
                width: 100%;
            }

            .characters__flip-card {
                background-color: transparent;
                width: 100%;
                height: 300px;

                .characters__flip-card_inner {
                    position: relative;
                    text-align: center;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

                    

                    .characters__flip-card_front {
                        background-color: #fff;
                        color: black;
                    }

                    .characters__flip-card_back {
                        background-color: #fff;
                        color: black;
                        transform: rotateY(180deg);
                        height: 300px;

                        p {
                            margin: 10px;
                        }
                    }
                }

                &:hover .characters__flip-card_inner {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    
}
.characters__flip-card_front .characters__flip-card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}